<h3 class="text-info text-center mt-5">File Upload</h3>
<div class="container" style="margin-top: 100px; margin-left: 350px;">
  <div class="row">
    <div class="col-md-6 form-group">
      <input type="file" class="form-control" id="file" (change)="uploadedFile($event)" placeholder="Upload file"
        accept=".xlsx">
      <span style="color:gray;font-size: 14px;">File format must be .xlsx</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2">
      <button class="btn btn-outline-primary" [disabled]="!worksheet" (click)="uploadFile()">Upload</button>
    </div>
  </div>

  <!--side bar -->
  <div class="side-bar {{className}}" *ngIf="isSideBar">
    <div class="toggle {{isLoader}}" (click)="toggleLti()">
      <!-- <span class="tooltiptext ">See Uploads </span> -->
    </div>
    <h4 class="text-center">Uploaded Files</h4>
    <!-- <div class="alert alert-info mt-3" role="alert" *ngIf="progress===0">
      <span class="text-center">There are no uploads here!</span>
    </div> -->
    <div class="row mt-2 mb-1" style="height: 400px; overflow: auto;">
      <div class="col-md-12">
        <div class="card-body box-shadow mb-3" *ngFor="let item of uploadedFiles">
          <div class="row">
            <div class="col-md-10 mt-1 mr-1">
              <a (click)="showPreview(item.previewId)" title="{{item.fileName}}" style="font-size: 14px; color:rgb(79, 211, 39); cursor: pointer;"><b>{{item.fileName}}</b></a>
            </div>
            <!-- <div class="col-md-2 mt-1">
              <span class="text-right" style="color:gray; font-size: 15px; font-weight: bold;">100%</span>
            </div>
            <div class="col-md-4">
              <div class="progress mt-2" *ngIf="progress > 0">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                </div>
              </div>
            </div> -->
            <div class="col-md-1  float-right">
              <div class="close">
                <a class="close" style="cursor:pointer;" (click)="close()">&times;</a>
              </div>
            </div>
          </div>
        </div>

        <!-- current upload files -->
        <div class="row mt-2 mb-1" *ngIf="progress>0">
            <div class="col-md-12">
              <div class="card-body box-shadow">
                <div class="row">
                  <div class="col-md-4 mt-1 mr-1">
                    <a (click)="showPreview(previewId)" title="{{fileName}}" class="fileName" style="font-size: 14px; color:rgb(79, 211, 39); cursor: pointer;"><b>{{fileName}}</b></a>
                  </div>
                  <div class="col-md-2 mt-1">
                    <span class="text-right" style="color:gray; font-size: 15px; font-weight: bold;">{{progress}}%</span>
                  </div>
                  <div class="col-md-4">
                    <div class="progress mt-2" *ngIf="progress > 0">
                      <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                      </div>
                    </div>
                  </div>
                  <div class="col-md-1  float-right">
                    <div class="close">
                      <a class="close" style="cursor:pointer;" (click)="close()">&times;</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>













  <!-- <div class="progress form-group" *ngIf="progress > 0">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
  </div>
</div> -->
  <!-- <div class="row mt-2 mb-1" *ngIf="progress>0">
    <div class="col-md-6">
      <div class="card box-shadow">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <a class="link-text"><b>{{fileName}}</b></a>
            </div>
            <div class="col-md-2">
              <span style="color:gray; font-size: 15px; font-weight: bold;">{{progress}}%</span>
            </div>
            <div class="col-md-4">
              <div class="progress" *ngIf="progress > 0">
                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" [style.width.%]="progress">
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <div class="close">
                <a class="close" style="cursor:pointer;" (click)="close()">&times;</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
  <!-- <div class="loader mt-3"></div> -->


  <!-- <div class="row">
    <div class="col-md-2 form-group">
      <button type="button" class="btn btn-info" (click)="readAsCSV()">Read as CSV</button>
    </div>
    <div class="col-md-2 form-group">
      <button type="button" class="btn btn-info" (click)="readAsJson()">Read as JSON</button>
    </div>
    <div class="col-md-2 form-group">
      <button type="button" class="btn btn-info" (click)="readAsHTML()">Read as HTML</button>
    </div>
    <div class="col-md-2 form-group">
      <button type="button" class="btn btn-info" (click)="readAsText()">Read as Text</button>
    </div>
  </div> -->
  <!-- <div class="row">
    <div class="col-md-8 form-group">
      <input type="file" accept=".csv" (change)="convertFile($event)" />  
    </div>
  </div>
  <div class="col-md-3">
    <div class="row">
      <input class="form-control" type='file' (change)='convertFile(input)' id='fileInput' #input>
    </div>
  
    <div class="row" >
      <b>CSV Data</b>  : <br> {{  text || "upload CSV" }}
    </div>
  
    <div class="row">
      <b>Converted JSON</b> : <br> {{ JSONData || "upload CSV to conver"  }}
    </div>
  </div> -->
  <ngx-spinner bdOpacity=0.9 bdColor="#333" size="large" color="#fff" type="line-scale" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
  </ngx-spinner>
</div>

<!-- <div class="container">
  <app-uploader></app-uploader>
</div> -->
