.box-shadow {
    -webkit-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.75);
  }
  .side-bar {
      position: fixed;
      top: 20%;
      right: -450px; 
      transform: translateY(-10%);
      width: 450px;
      height: auto;
      padding: 40px;
      background: #fff;
      box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
      box-sizing: border-box;
      transition: 0.5s;
  }
  .side-bar.active {
  right:0;
  }
  
  .side-bar input {
      width: 100%;
      height: 36px;
      padding: 5px;
      font-size: 15px;
      font-weight: bold;
      margin-bottom: 10px;
      box-sizing: border-box;
      border: 1px solid rgba(0, 0, 0, .5);
      outline: none;
  }
  
  .side-bar h2 {
      margin: 0 0 20px ;
      padding:0;
      color: rgb(4, 32, 83);
  }
  .side-bar input[type="button"]{
      background: #00bcd4;
      color:#fff;
      cursor: pointer;
      border:none;
      font-style: 18px;
  }
  .form-label{
      font-size: 16px;
  }
   .toggle{
      position: absolute;
      top: 0%;
      left: -48px;
      height: 48px;
      width:48px;
      line-height: 48px;
      text-align: center;
      cursor: pointer;
      background: rgb(21, 59, 11);
  }
  .toggle:before{
      content: '\f0ee ';
      font-family: fontAwesome;
      color:#fff;
      font-size: 28px;
  }
  .toggle.active:before{
      content: '\f0ee';
  }
  
    .toggle .tooltiptext {
      visibility: hidden;
      width: 120px;
      /* background-color: black; */
      color: gray;
      text-align: center;
      border-radius: 6px;
      padding: 5px 0;
      position: absolute;
      z-index: 1;
      top: -5px;
      right: 110%;
    }
    
    .toggle .tooltiptext::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent transparent black;
    }
    .toggle:hover .tooltiptext {
      visibility: visible;
    }  
  
    .fileName {
      display: block;
      width: 100px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .loader {
      border: 6px solid #f3f3f3;
      border-radius: 50%;
      border-top: 6px solid blue;
      border-right: 6px solid green;
      border-bottom: 6px solid red;
      border-left: 6px solid pink;
      width: 60px;
      height: 60px;
      -webkit-animation: spin 2s linear infinite;
      animation: spin 2s linear infinite;
    }
    
    @-webkit-keyframes spin {
      0% { -webkit-transform: rotate(0deg); }
      100% { -webkit-transform: rotate(360deg); }
    }
    
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }