<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <h3 class="text-center">File Preview</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label>File Name</label>
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" value="CompanyInfo.xlsx" readonly style="font-weight: bold;">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-md-12">
                        <table class="table table-hover">
                            <thead>
                                <th>SL</th>
                                <th>Organization Name</th>
                                <th>Address</th>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of organizations; let i = index;">
                                    <td>{{i+1}}</td>
                                    <td>{{item.organizationName}}</td>
                                    <td>{{item.address}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>